/* цвет подзаголовков #212121; */
/* цвет текста #757575; */
/* підвал rgba(255, 255, 255, 0.6) адреса #FFFFFF; */
/* веб студіо #2196F3   #000000 */
/* навігація #2196F3 #212121
 пошта #2196F3  тел #757575*/ 
 /* імена #212121 посади #757575 */
 /* колір фону наша команда #F5F4FA */

 body {
    background-color: #F5F5F5;
    color: #212121;
 }

 .logo {
    color: #000000;
 }